@{
    ViewData["Title"] = "Tumblr Landing Page";
}

<div class="text-center">
    <h1 class="display-4">My Tumblr</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script type='text/javascript' src='https://noisyvolt.tumblr.com/js'></script>


